@font-face {
    font-family: Segoe UI;
    src: url(../../fonts/Segoe\ UI.ttf)
}

@font-face {
    font-family: Playfair Display;
    src: url(../../fonts/PlayfairDisplay-Regular.ttf)
}

@font-face {
    font-family: Roboto;
    src: url(../../fonts/Roboto-Regular.ttf)
}

body {
    overflow-x: hidden;
}


.rectangle-1 {
    width: 225px;
    height: 114px;

    background: #EFEFEF;
    border-radius: 111px;
    padding-top: 38px;

}

.svg-plus {
    margin-left: 40px;

}

.svg-2 {
    margin-left: 60px;
}

.rectangle-2 {
    width: 114px;
    height: 747px;

    background: #EFEFEF;
    border-radius: 87px;
}

.Home {
    padding-top: 70.48px;
    padding-bottom: 95.34px;
}

.union {
    padding-top: 101.59px;
    padding-bottom: 103.43px;
}

.heart {
    padding-bottom: 101.43px;
}

.human {
    padding-bottom: 75px;
}

.carousel-control-prev-icon {

    width: 49px;
    height: 97px;
    background-color: #6d6060;
    border-radius: 42px;

    margin-left: 8px;

}


.carousel-control-next-icon {

    width: 49px;
    height: 97px;
    background-color: #6d6060;
    border-radius: 42px;

    margin-right: -60px;

}



.frame-2 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 97px;
    height: 97px;
    border: 3px solid transparent;
    border-radius: 80px;
    background-image: linear-gradient(white, white), linear-gradient(205.14deg, #D62977 11.68%, #ED8128 88.3%);

    background-clip: content-box, border-box;
}

.frame-3 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 62px;
    height: 62px;
    border: 2px solid transparent;
    border-radius: 50px;
    background-image: linear-gradient(white, white), linear-gradient(205.14deg, #D62977 11.68%, #ED8128 88.3%);

    background-clip: content-box, border-box;
}

.circle-blue {
    display: flex;
    position: absolute;
    justify-content: center;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    background: #0095F6;
    bottom: 11px;
    right: 5px;
}

.img-plus {
    position: relative;
}

.plus {
    width: 17px;
    height: 17px;
    color: #FFFFFF;
    padding-left: 3px;
}

.inp-1 {

    background-color: transparent;
    width: 310px;
    height: 66px;
    padding-left: 28px;
    border: 3px solid #F8F8F8;
    border-radius: 43px;
    outline: none;
}

::placeholder {
    font-family: Segoe UI;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 127.01%;
    letter-spacing: -0.055em;
    color: #F8F8F8;
}

textarea:focus,
input:focus {
    color: white;
}


.text-martin-div p {
    line-height: 0.6;
}

.martin-text {
    font-family: Segoe UI;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: 0.01em;
    color: #000000;
}

.text-b p {
    font-family: Segoe UI;
    font-style: normal;
    font-weight: 350;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: 0.01em;

    color: #000000;
}

.text-c p {
    font-family: Segoe UI;
    font-style: normal;
    font-weight: 350;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: 0.01em;

    color: #000000;
}

.text-57 {
    font-family: Segoe UI;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    letter-spacing: 0.01em;

    color: #8D8D8D;
}

.read {
    color: #9A9A9A;
}

.box-white {
    width: 188px;
    height: 46px;

    background: #F8F8F8;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 78px;
}

.likes {
    font-family: Segoe UI;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 20px;
    color: #000000;
}

.text-eto-div {
    font-family: Segoe UI;
    font-style: normal;
    font-weight: 350;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: 0.01em;

    color: #000000;
}

.text-light-three-div p {
    font-family: Segoe UI;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.01em;

    color: #8D8D8D;
}

.View-rep-div {
    font-family: Segoe UI;
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.01em;

    color: #9A9A9A;
}

.all {
    font-family: Segoe UI;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.01em;

    color: #8D8D8D;
}

.rectangle-65 {
    width: 229px;
    height: 36px;

    background: #F8F8F8;
    border: 1px solid #9A9A9A;
    backdrop-filter: blur(25px);

    border-radius: 42px;
}

.rectangle-65 {
    font-family: Segoe UI;
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 16px;
    text-align: center;
    letter-spacing: 0.01em;

    color: #9A9A9A;
}

.text-b {
    font-family: Segoe UI;
    font-style: normal;
    font-weight: 350;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.01em;

    color: #000000;
}

.inp-svg-div {
    position: absolute;
    top: 790px;
    right: 90px;

    z-index: 2;
}

.inp-svg-div svg {
    margin-top: 12px;
}


@media screen and (max-width:1920px) {
    .inp-svg-div {
        right: 110px;

        top: 880px !important;
        width: 361px !important;

    }
}

@media screen and (max-width:1536px) {
    .inp-svg-div {
        top: 760px !important;
        right: 60px !important;
    }
}

@media screen and (max-width:1440px) {
    .inp-svg-div {
        top: 690px !important;
        right: 70px !important;
    }
}

@media screen and (max-width:1400px) {
    .inp-svg-div {
        top: 660px !important;
        right: 70px !important;
    }
}

.martin_tips p {
    font-family: Segoe UI;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: 0.01em;
    color: #FFFFFF;
}

.martin_tips span {
    font-family: Segoe UI;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    /* identical to box height */

    letter-spacing: 0.01em;

    color: rgba(255, 255, 255, 0.5);
}

.indic-div {

    gap: 5px;
    right: 40px;
    position: absolute;
    z-index: 2;
    bottom: 800px;
}

@media screen and (max-width:1920px) {
    .indic-div {
        gap: 10px;
        right: 80px;
        bottom: 880px;
    }
}

@media screen and (max-width:1536px) {
    .indic-div {
        right: 42px !important;
        bottom: 770px !important;
    }
}

@media screen and (max-width:1440px) {
    .indic-div {
        gap: 5px;
        right: 40px;
        position: absolute;
        z-index: 2;
        bottom: 790px !important;
    }
}

@media screen and (max-width:1400px) {
    .indic-div {
        gap: 5px;
        right: 40px;
        position: absolute;
        z-index: 2;
        bottom: 800px !important;
    }
}

.arrow-div {
    width: 49px;
    height: 97px;

    background: #EFEFEF;
    border-radius: 42px;
}


@media screen and (max-width:1920px) {
    .arrow-one {

        display: block !important;
    }
}